*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #87CEEB, #FFB6C1);
  }
  
.todo{
    width: 100%;
    height: 100vh;


}
.todo-container{
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
.todo-container h1{
    text-align: center;
}
.inputlabel{
    width: 100%;
    padding: 5px;
}
.inputlabel label{
    padding: 5px;
}
.inputlabel div input{
    width: 100%;
    padding: 8px;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.819);
    color: rgba(220, 20, 60, 0.71);
    font-size: 16px;
    font-weight: 500;
}
.todo-container button{
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    background-color: crimson;
    border-radius: 4px;
    
    font-weight: 600;
}
#table-container{
    width: 80%;
    margin: auto;
    padding-top: 20px;
}
#table-containe table{
    width: 100%;
}
th{
    background-color: crimson;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.878);
    color:white;
  }
  
  
  
  table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
 
 
  